* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.banner {
    width: 100%;
    height: 100vh;
background-image: url("https://images.unsplash.com/photo-1517248135467-4c7edcad34c4?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8cmVzdGF1cmFudHxlbnwwfHwwfHx8MA%3D%3D");
background-repeat: no-repeat;
background-size: cover;
}

.navbar {
    width: 85%;
    margin:auto;
    padding: 35px 0;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 120px;
    cursor: pointer;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: pink;
    text-transform:uppercase;
}

.navbar ul li::after {
    content:' ';
    height:3px;
    width:0;
    background: rgb(225,238,0);
    position:absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;;
}

.navbar ul li:hover::after {
    width:100%;
}

.content {
    width: 100%;
    position: absolute;
    top:50%;
    transform: translateY(50);
    text-align: center;
    color: orange;
}

.content h1 {
    font-size: 70px;
    margin-top: 20px;
}

.content h2 {
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}

button {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    background: transparent;
    color:white;
    cursor: pointer;
    margin: 20px 10px;
    border-radius: 25px;
    border: 2px solid yellow;
    font-size: large;
}
